{% extends 'home.html' %} 
{% block title %}
  quick_first_aid
{% endblock %} 
{%block header %} 
<header style="position: relative; top: 0; left: 0;  z-index: 0;">
  <nav>
    <div class="logo">
      <a href="{% url 'home' %}"><span>S</span>AFER</a>
    </div>
    <div class="profile">
      <a href="#" class="icon">
        <i class="fa-solid fa-user"></i>
      </a>
      <a href="#" class="icon">
        <i class="fa-solid fa-bell"></i>
      </a>
      <a href="#" class="icon">
        <i class="fa-solid fa-microphone"></i>
      </a>
    </div>
  </nav>
</header>
{% endblock %} 
{%block content %}
<div class="home">
  <div class="innerhome">
    <div class="title">
      <h1>First Aid Now</h1>
    </div>
    <div class="desc">
      <p>
        By using this, you are agreeing to our terms and services. Team Safer
        will not be responsible for any damage that may occur. Observe the
        symptoms of your patient carefully, and proceed by selecting the
        'Symptoms' button below..
      </p>
    </div>

    <div class="main-button">
      <a href="#" onclick="openForm()">Select Symptoms</a>
    </div>

    <div id="overlay" class="overlay"></div>
    <div id="symptomForm" class="form-container" style="display: none">
      <h1>Select 
        <br/>
        <span>Symptoms<span>
      </h1>
      <a href="#" class="close-button" onclick="closeForm()">
        <i class="fa-solid fa-xmark"></i>
      </a>

      <form method="post" id="mainFormSymptom">
        <div class="symptom-list-cover">
        {% csrf_token %} 
        {% for symptom in symptoms %}
        <label>
          <input type="checkbox" name="symptom" value="{{ symptom.id }}"/> {{symptom.name }} 
        </label>
        <br/>
        {% endfor %}
        <button type="submit" id="submitButton" onclick="openFormResult()">Submit</button>
      </div>
      </form>
    </div>

    <div id="symptomFormResult" class="form-result-container" style="position: relative;">
      <div class="form-result-container-inner">
        <h1>Possible 
          <br/>
          <span>Diagnoses<span>
        </h1>
        <p>
          Kindly select the symptoms from the options above to receive a diagnosis.
        </p>
      </div>
      {% if diseases %}
      <div id="diseaseResults">
        <ul id="diseaseResultList">
          {% for disease in diseases %}
          <li>
            <a href="{{ disease.web_links }}" target="_blank" class="diagnosisCard">
              <div>
                <h1>{{ disease.disease }}</h1>
                <p>{{ disease.description }}</p>
                <div>
                  <p>----</p>
                </div>
              </div>
            </a>
          </li>          
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>


    <!--Slider-->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <!--card-->
          <div class="c1">
            <div class="card-title">
              <a href="#">Symptoms of Pulmonary edema</a>
            </div>
            <div class="card-text">
              <h1>
                Understanding <br />
                Pulmonary edema
              </h1>
            </div>
            <div class="card-para">
              <p>
                Pulmonary edema is fluid buildup in the lungs, causing breathing difficulty.<br />
                <br />
              </p>
            </div>
            <div class="card-button">
              <a href="#">Treat Now</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="c2">
            <!--card content-->
            <div class="card-title">
              <a href="#">Symptoms of Infection </a>
            </div>
            <div class="card-text">
              <h1>
                Cuts and<br />
                Wound Infections
              </h1>
            </div>
            <div class="card-para">
              <p>
                A cut or wound can become infected if bacteria enters, causing redness,<br/> swelling, and pain. Proper cleaning and care help <br/>prevent complications
              </p>
            </div>
            <div class="card-button">
              <a href="#">Wound Care Steps</a>
            </div>
            <!---->
          </div>
        </div>
        <div class="swiper-slide">
          <div class="c3">
            <div class="card-title">
              <a href="#">Symptoms of Electrocution</a>
            </div>
            <div class="card-text">
              <h1>
                Understanding <br />
                Electrocution
              </h1>
            </div>
            <div class="card-para">
              <p>
                Electrocution occurs when the body comes into contact with a harmful <br/>electric current, causing burns, muscle spasms, or loss of <br />consciousness.
              </p>
            </div>
            <div class="card-button">
              <a href="#">First Aid Steps</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="c4">
            <div class="card-title">
              <a href="#">Identify Fractures</a>
            </div>
            <div class="card-text">
              <h1>Understanding Fracture First Aid</h1>
            </div>
            <div class="card-para">
              <p>
                A fracture is a break in the bone, often caused by falls or heavy impact.<br />
                It can lead to pain, swelling, and difficulty in movement, needing <br />proper care.
              </p>
            </div>
            <div class="card-button">
              <a href="#">Care Steps</a>
            </div>
          </div>
        </div>
        <!-- Add more swiper slides here -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
