@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primary: #010101;
$gray-font: #646464;
$font-style: "Poppins", sans-serif;

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: $primary;
    font-family: $font-style;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 5vh;
    padding: 4vh 0;
    border-bottom: 1px solid rgba(33, 33, 33, 1); /* Semi-transparent border */
    background: rgba(1, 1, 1, 0.6); /* Semi-transparent black background */
    backdrop-filter: blur(10px); /* Adds the frosted glass effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Optional shadow for depth */
    z-index: 1000; /* Keeps header above content */
    nav {
        height: 100%;
        width: 80vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10.5%;
        .logo {
            display: flex;
            height: 10vh;
            justify-content: center;
            align-items: center;
            a {
                text-decoration: none;
                color: #fefefe;
                font-weight: 700;
                transition: color 0.3s; 
                font-size: 4vb;
                letter-spacing: 0.05em; 
                span {
                    color: #db0538;
                }
            }
            a:hover {
                color: #db0538; /* Change to this color on hover */
            }
        }
        .profile {
            display: flex;
            flex-direction: row-reverse;
            gap: 1vb; 
            .icon {
                background-color: #141414;
                color: #9d9d9d;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 6vb;
                height: 6vb;
                border-radius: 50%;
                font-size: 3vb; 
                transition: background-color 0.3s;
            }
            // Specific hover styles for each icon
            .icon:nth-child(1):hover { // Profile icon hover
                background-color: #64acc4; // Profile hover color
                color: #fefefe;
            }

            .icon:nth-child(2):hover { // Notification icon hover
                background-color: #c49018;
                color: #fefefe; // Notification hover color
            }

            .icon:nth-child(3):hover { // Microphone icon hover
                background-color: #a54127;
                color: #fefefe; // Microphone hover color
            }
            
            i {
                margin: 0; // No margin for icons
            }
        }
    }
}


.banner-flood, .banner-landslide {
    //background-image: url('../static/flood_banner.png'); /* Replace with the correct path to your image */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 80%), url('../static/flood_banner.png'); /* Fading black effect */
    background-size: cover; /* Make sure the image covers the entire banner */
    background-position: center; /* Center the image */
    height: 100vh; /* Half the screen height */
    width: 100vw; /* Full width */
    display: flex;
    justify-content: start;
    align-items: start;

    .flood {
        padding-top: 18vh;
        width: 40%;
        height: 100%;
        padding-left: 10vw;
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align items to the left */
        text-align: left; /* Align text to the left */
        font-family: 'Poppins', sans-serif; /* Apply Poppins font */
        z-index: 1;
            
        h3, h6, p {
            margin: 0;
            padding: 0;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
            color: #fefefe;
        }
        .description-flood {
            font-size: 2.3vb;
        }
        h3 {
            font-size: 4vb;
            font-weight: 600;
        }
        h6 {
            font-size: 1.4vb; /* Font size */
            font-weight: 200; /* Font weight */
            line-height: 1; 
            margin-bottom: 3.5vh;/* Adjusted line height (reduce to make it more compact) */
        }        
        p{
            font-size: 2.5vb;
            font-weight: 300;
            color: #cccccc;
        }
        button {
            background-color: #0e0e0e; /* Default background color */
            color: #e2e2e2; /* Text color */
            border: none; /* Remove default border */
            border-radius: 10px; /* Rounded corners */
            padding: 1rem 2rem; /* Vertical and horizontal padding */
            font-family: 'Poppins', sans-serif; /* Apply Poppins font */
            font-size: 0.8rem; /* Font size */
            font-weight: 500; /* Bold font weight */
            cursor: pointer; /* Change cursor to pointer on hover */
            transition: background-color 0.3s ease; /* Smooth transition for hover effect */
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
        }
        
        button:hover {
            background-color: #a44129; /* Background color on hover */
            color: #fefefe; /* Text color on hover */
            box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7); 
        }   
    }
}
.banner-landslide{
    background-image: url('../static/landslide_banner2.jpg'); /* Replace with the correct path to your image */
}

.swiper-container {
    display: flex;
    justify-content: start;
    align-items: start;
    height: 70vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    border-bottom-left-radius: 8px; /* Adjust this value to control the roundness */
    border-bottom-right-radius: 8px; /* Same for the right corner */
    overflow: hidden; /* Ensure content doesn't overflow the rounded corners */
    .swiper {
        width: 100%;
        height: 100%;
      }
      .swiper-wrapper .swiper-slide {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: start;
      }
      .swiper-slide {
        display: block;
        width: 100%;
        height: 100%;
      }
}


