@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primary: #010101;
$gray-font: #646464;
$font-style: "Poppins", sans-serif;

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: $primary;
    font-family: $font-style;
    color: wheat;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 2.5rem;
    padding: 2% 0;
    border-bottom: 1px solid rgba(33, 33, 33, 1); /* Semi-transparent border */
    background: rgba(1, 1, 1, 0.5); /* Semi-transparent black background */
    backdrop-filter: blur(10px); /* Adds the frosted glass effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Optional shadow for depth */
    z-index: 1000; /* Keeps header above content */
    nav {
        height: 100%;
        width: 80vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10.5%;
        .logo {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            a {
                text-decoration: none;
                color: #fefefe;
                font-weight: 700;
                transition: color 0.3s; 
                font-size: 1.4rem;
                letter-spacing: 0.05em; 
                span {
                    color: #db0538;
                }
            }
            a:hover {
                color: #db0538; /* Change to this color on hover */
            }
        }
        .profile {
            display: flex;
            flex-direction: row-reverse;
            gap: 0.5rem; 
            .icon {
                background-color: #141414;
                color: #9d9d9d;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                font-size: 1rem; 
                transition: background-color 0.3s;
                
            }
            // Specific hover styles for each icon
            .icon:nth-child(1):hover { // Profile icon hover
                background-color: #64acc4; // Profile hover color
                color: #fefefe;
            }

            .icon:nth-child(2):hover { // Notification icon hover
                background-color: #c49018;
                color: #fefefe; // Notification hover color
            }

            .icon:nth-child(3):hover { // Microphone icon hover
                background-color: #a54127;
                color: #fefefe; // Microphone hover color
            }
            
            i {
                margin: 0; // No margin for icons
            }
        }
    }
}

// .landing {
//     position: relative;
//     background-image: url('../static/bgmap.jpg'); // Ensure the path is correct
//     background-size: auto; // Keeps the image at its original size
//     width: 100vw;
//     height: 100vh;
//     overflow-x: hidden;

//     &::after {
//         content: ''; // Necessary for a pseudo-element
//         position: absolute; // Position the overlay absolutely
//         top: 0; // Aligns with the top
//         left: 0; // Aligns with the left side
//         width: 100vw; // Full width of the container
//         height: 100vh; // Full height of the container
//         background: rgba(1, 1, 1, 0); // Semi-transparent dark overlay
//         backdrop-filter: blur(0px);
//         pointer-events: none; // Allows clicks to pass through the overlay
//     }
//     .insight {
//         display: flex;
//         flex-direction: column; // Stacks children vertically
//         justify-content: center; // Center content vertically
//         align-items: center; // Center content horizontally
//         position: relative; // Set the container to relative positioning
//         z-index: 1; 
    
//         h1 {
//             font-family: 'Lufga Bold', sans-serif; // Use the Lufga Bold font
//             font-weight: bold; 
//             color: #fefefe; 
//             font-size: 23vw; // Responsive font size based on viewport width
//             pointer-events: none;
//             margin-top: 10vh; 
//             margin-bottom: 0;
//             padding-bottom: 0;
            
//             text-shadow: 
//                 2px 2px 4px rgba(0, 0, 0, 0.7), // Horizontal offset, vertical offset, blur radius, color
//                 0 0 5px rgba(0, 0, 0, 0.9); // Deeper shadow for emphasis
    
//             // Optional: Add responsiveness for smaller screens
//             @media (max-width: 600px) {
//                 font-size: 15vw; // Adjust the font size for smaller screens
//                 margin-top: 20vh; // Adjust margin for smaller screens
//             }
//         }
//     }
//     .shapes {
//         width: 80vw;  // Limit the width so there’s space on both sides
//         padding: 0;
//         padding-left: 5vw;
//         margin: 0 auto;  // Center horizontally within the page
//         display: flex;
//         flex-direction: row;
//         justify-content: flex-start; // Align the shapes without space
//         align-items: center;  // Vertically center the shapes
//         z-index: 3;
//         transform: translateY(-15vh); // Optional for adjusting Y-axis positioning
//         height: 30vh;
        
//         .circle, .square {
//             flex-basis: 15vw; // Keep the same size but ensure they stick together
//             height: 15vw;
//             margin: 0;  // Remove any margin
//             box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); // Adding subtle shadow
//         }
        
//         .circle {
//             border-radius: 50%;
//             display: flex;
//             flex-direction: column;
//             align-items: center;  
//             justify-content: center;  
//             text-align: center;  
//             color: #010101;
        
//             .icon {
//                 font-size: 3rem;  // Adjust icon size
//                 margin-bottom: 0.5rem;  // Add space between the icon and the text
//             }
        
//             .text {
//                 h1 {
//                     font-size: 1.5rem;  // Adjust text size as needed
//                     margin: 0;  // Remove default margin
//                 }
//                 h2 {
//                     font-size: 1rem;  // Adjust subtitle size
//                     margin: 0;  // Remove default margin
//                 }
//             }
//         }        
        
//         .square {
//             background-color: #fefefe;
//             border-radius: 15px;
//         }
//     }    
// }
.banner {
    background-image: url('../static/bgmap.jpg'); /* Replace with the correct path to your image */
    background-size: cover; /* Make sure the image covers the entire banner */
    background-position: center; /* Center the image */
    height: 65vh; /* Half the screen height */
    width: 100vw; /* Full width */
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 5rem; /* Adjust as needed */
    .flood {
        padding-top: 18vh;
        width: 100%;
        height: 100%;
        padding-left: 10vw;
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align items to the left */
        text-align: left; /* Align text to the left */
        font-family: 'Poppins', sans-serif; /* Apply Poppins font */
        color: #e2e2e2;

        h3, h6, p {
            margin: 0;
            padding: 0;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        }
        h3 {
            font-size: 5rem;
            font-weight: 600;
        }
        h6 {
            font-size: 1.4rem; /* Font size */
            font-weight: 200; /* Font weight */
            line-height: 1; 
            margin-bottom: 3.5vh;/* Adjusted line height (reduce to make it more compact) */
        }        
        p{
            font-size: 1rem;
            font-weight: 100;
        }
        button {
            background-color: #0e0e0e; /* Default background color */
            color: #e2e2e2; /* Text color */
            border: none; /* Remove default border */
            border-radius: 10px; /* Rounded corners */
            padding: 1rem 2rem; /* Vertical and horizontal padding */
            font-family: 'Poppins', sans-serif; /* Apply Poppins font */
            font-size: 0.8rem; /* Font size */
            font-weight: 500; /* Bold font weight */
            cursor: pointer; /* Change cursor to pointer on hover */
            transition: background-color 0.3s ease; /* Smooth transition for hover effect */
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
        }
        
        button:hover {
            background-color: #a44129; /* Background color on hover */
            color: #fefefe; /* Text color on hover */
            box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7); 
        }   
    }
}




