@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #010101;
  font-family: "Poppins", sans-serif;
  color: wheat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 2.5rem;
  padding: 2% 0;
  border-bottom: 1px solid rgb(33, 33, 33); /* Semi-transparent border */
  background: rgba(1, 1, 1, 0.5); /* Semi-transparent black background */
  backdrop-filter: blur(10px); /* Adds the frosted glass effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Optional shadow for depth */
  z-index: 1000; /* Keeps header above content */
}
header nav {
  height: 100%;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10.5%;
}
header nav .logo {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
header nav .logo a {
  text-decoration: none;
  color: #fefefe;
  font-weight: 700;
  transition: color 0.3s;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
}
header nav .logo a span {
  color: #db0538;
}
header nav .logo a:hover {
  color: #db0538; /* Change to this color on hover */
}
header nav .profile {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
}
header nav .profile .icon {
  background-color: #141414;
  color: #9d9d9d;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-size: 1rem;
  transition: background-color 0.3s;
}
header nav .profile .icon:nth-child(1):hover {
  background-color: #64acc4;
  color: #fefefe;
}
header nav .profile .icon:nth-child(2):hover {
  background-color: #c49018;
  color: #fefefe;
}
header nav .profile .icon:nth-child(3):hover {
  background-color: #a54127;
  color: #fefefe;
}
header nav .profile i {
  margin: 0;
}

.landing {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.landing .insight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.landing .insight h1 {
  font-family: "Lufga Bold", sans-serif;
  font-weight: bold;
  color: #fefefe;
  font-size: 23vw;
  pointer-events: none;
  margin-top: 10vh;
  margin-bottom: 0;
  padding-bottom: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7), 0 0 5px rgba(0, 0, 0, 0.9);
}
@media (max-width: 600px) {
  .landing .insight h1 {
    font-size: 15vw;
    margin-top: 20vh;
  }
}
.landing .shapes {
  width: 80vw;
  padding: 0;
  padding-left: 5vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  z-index: 3;
  transform: translateY(-15vh);
  height: 30vh;
}
.landing .shapes .circle, .landing .shapes .square {
  flex-basis: 15vw;
  height: 15vw;
  margin: 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.landing .shapes .circle {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #010101;
}
.landing .shapes .circle .icon {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
.landing .shapes .circle .text h1 {
  font-size: 1.5rem;
  margin: 0;
}
.landing .shapes .circle .text h2 {
  font-size: 1rem;
  margin: 0;
}
.landing .shapes .square {
  background-color: #fefefe;
  border-radius: 15px;
}

/*# sourceMappingURL=home.css.map */
