{% extends 'home.html' %} 
{% block title %}
report-generator
{% endblock %}
{% block content %}
REPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORTREPORT
REPORT
{% csrf_token %}
{% endblock %}
