@mixin header-text-style {
  color: #262523;
  font-weight: 500;
  font-size: 4.2vb;
  letter-spacing: -0.2vb;
  word-spacing: normal;
  padding: 0;
  margin: 0;
  padding-right: 0.5vw;
  @media (max-width: 1024px) {
    font-size: 3vb;
    text-align: right;
    line-height: 1.2;
  }
}

.main-report {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: #f3f3f1;
  .report-header {
    position: relative;
    height: 12vh;
    background-color: #f3f3f1;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    // background-color: red;
    backdrop-filter: none;
    box-shadow: none;
    border-bottom: none;
    .header-wrapper {
      border-bottom: 1px solid #262523;
      width: 95vw;
      display: inherit;
      justify-content: space-between;
      .logo {
        height: 100%;
        width: 50%;
        padding-left: 2.5vw;
        display: flex;
        justify-content: left;
        align-items: center;
        // background-color: #e34234;
        a {
          text-decoration: none;
          color: #262523;
          font-weight: 700;
          transition: color 0.3s;
          font-size: 5vb;
          letter-spacing: 0.01em;
          span {
            color: #e34234;
          }
        }
        a:hover {
          color: #e34234;
        }
      }
      .header-content {
        // background-color: #E34234;
        // background-color: #e34234;
        width: 50%;
        display: flex;
        justify-content: right;
        align-items: center;
        padding-right: 2.5vw;
        @media (max-width: 1024px) {
          // background-color: #e34234;
          height: 80%;
          align-self: center;
        }
        h1 {
          @include header-text-style;
          @media (max-width: 1024px) {
            font-size: 3vb;
            text-align: right;
            line-height: 1.2;
          }
        }
      }
    }
  }
}

.generate-report {
  display: flex;
  align-items: center;
  border: none;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
}

svg {
  border-radius: 50%;
  border: none;
  transition: all 0.3s ease-in-out;
}

.generate-report:hover svg {
  stroke: #f3f3f1;
  background-color: #262523;
  transform: scale(0.9);
}

.download-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.report-main-div {
  min-height: 100vh;
  width: 95vw;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1024px) {
    flex-direction: column-reverse;
  }
  .left-report {
    // background-color: rosybrown;
    width: 29%;
    height: 125vh;
    display: flex;
    align-items: end;
    justify-content: end;
    position: relative;
    flex-direction: column;
    @media (max-width: 1024px) {
      width: 100%;
      height: auto;
    }
  }
  .right-report {
    width: 68%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-block: 6vh;
    // background-color: rosybrown;
    @media (max-width: 1024px) {
      width: 100%;
    }
    .flood-landslide-graph {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #0736fe;
      width: 70vw;
      height: 118vh;
      border-radius: 4vb;
      @media (max-width: 1024px) {
        width: 100%;
      }
    }
  }
  .arrow svg {
    border-radius: 0;
    display: flex;
    justify-content: end;
    align-items: end;
  }
  .hashtag {
    height: 36vh;
    // background-color: #e34234;
    width: 100%;
    margin: 0;
    margin-top: 5vh;
    div {
      border-bottom: 1px solid #262523;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: end;
      justify-content: end;
      .first-hashtag {
        margin-right: 1vw;
      }
      h1 {
        padding: 0;
        padding-bottom: 0.5vh;
        padding-top: 1.5vh;
        margin: 0;
        // text-decoration: underline;
        color: #444342;
        font-weight: 300;
        font-size: 4.5vb;
      }
    }
  }
}

.report-flood-div {
  min-height: 100vh;
  color: #262523;
  @media (max-width: 1024px) {
    margin-top: 5vh;
  }
  .see-more {
    // background-color: rebeccapurple;
    border-bottom: 1px solid #262523;
    width: 95vw;
    border-top: 1px solid #262523;
    height: 11vh;
    display: flex;
    justify-content: right;
    align-items: center;
    @media (max-width: 1024px) {
      border-top: none;
      justify-content: left;
      flex-direction: row-reverse;
    }
    h1 {
      @include header-text-style;
      @media (max-width: 1024px) {
        width: 50%;
        text-align: left;
        // margin-top: 5vh;
      }
    }
    svg {
      margin-left: 1vw;
      margin-right: 3vw;
      @media (max-width: 1024px) {
        // margin-top: 5vh;
      }
    }
  }
  
  .flood-title {
    border-bottom: 1px solid #262523;
    width: 95vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .flood-logo-title {
      @media (max-width: 1024px) {
        font-size: 1.5vb;
        line-height: 0.9;
      }
      display: flex;
      justify-content: left;
      align-items: center;
      i {
        color: #262523;
      }
      h1 {
        padding-left: 1vw;
      }
    }
    .last-svg-exclamation {
      margin-right: 3vw;
    }
  }
  .safer-desc-logo {
    @media (max-width: 1024px) {
      // background-color: #0736fe;
      width: 50%;
    }
    display: flex;
    justify-content: right;
    align-items: center;
    svg {
      margin-left: 1vw;
      margin-right: 3vw;
    }
    .safer-desc-para {
      // background-color: rebeccapurple;
      p {
        padding: 0;
        margin: 0;
        line-height: 0.8;
        font-weight: 200;
        text-align: right;
        @media (max-width: 1024px) {
          font-size: 2vb;
        }
      }
    }
  }
}