.main-report {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: #f3f3f1;
}
.main-report .report-header {
  position: relative;
  height: 12vh;
  background-color: #f3f3f1;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  backdrop-filter: none;
  box-shadow: none;
  border-bottom: none;
}
.main-report .report-header .header-wrapper {
  border-bottom: 1px solid #262523;
  width: 95vw;
  display: inherit;
  justify-content: space-between;
}
.main-report .report-header .header-wrapper .logo {
  height: 100%;
  width: 50%;
  padding-left: 2.5vw;
  display: flex;
  justify-content: left;
  align-items: center;
}
.main-report .report-header .header-wrapper .logo a {
  text-decoration: none;
  color: #262523;
  font-weight: 700;
  transition: color 0.3s;
  font-size: 5vb;
  letter-spacing: 0.01em;
}
.main-report .report-header .header-wrapper .logo a span {
  color: #e34234;
}
.main-report .report-header .header-wrapper .logo a:hover {
  color: #e34234;
}
.main-report .report-header .header-wrapper .header-content {
  width: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 2.5vw;
}
@media (max-width: 1024px) {
  .main-report .report-header .header-wrapper .header-content {
    height: 80%;
    align-self: center;
  }
}
.main-report .report-header .header-wrapper .header-content h1 {
  color: #262523;
  font-weight: 500;
  font-size: 4.2vb;
  letter-spacing: -0.2vb;
  word-spacing: normal;
  padding: 0;
  margin: 0;
  padding-right: 0.5vw;
}
@media (max-width: 1024px) {
  .main-report .report-header .header-wrapper .header-content h1 {
    font-size: 3vb;
    text-align: right;
    line-height: 1.2;
  }
}
@media (max-width: 1024px) {
  .main-report .report-header .header-wrapper .header-content h1 {
    font-size: 3vb;
    text-align: right;
    line-height: 1.2;
  }
}

.generate-report {
  display: flex;
  align-items: center;
  border: none;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
}

svg {
  border-radius: 50%;
  border: none;
  transition: all 0.3s ease-in-out;
}

.generate-report:hover svg {
  stroke: #f3f3f1;
  background-color: #262523;
  transform: scale(0.9);
}

.download-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.report-main-div {
  min-height: 100vh;
  width: 95vw;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .report-main-div {
    flex-direction: column-reverse;
  }
}
.report-main-div .left-report {
  width: 29%;
  height: 125vh;
  display: flex;
  align-items: end;
  justify-content: end;
  position: relative;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .report-main-div .left-report {
    width: 100%;
    height: auto;
  }
}
.report-main-div .right-report {
  width: 68%;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-block: 6vh;
}
@media (max-width: 1024px) {
  .report-main-div .right-report {
    width: 100%;
  }
}
.report-main-div .right-report .flood-landslide-graph {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0736fe;
  width: 70vw;
  height: 118vh;
  border-radius: 4vb;
}
@media (max-width: 1024px) {
  .report-main-div .right-report .flood-landslide-graph {
    width: 100%;
  }
}
.report-main-div .arrow svg {
  border-radius: 0;
  display: flex;
  justify-content: end;
  align-items: end;
}
.report-main-div .hashtag {
  height: 36vh;
  width: 100%;
  margin: 0;
  margin-top: 5vh;
}
.report-main-div .hashtag div {
  border-bottom: 1px solid #262523;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: end;
  justify-content: end;
}
.report-main-div .hashtag div .first-hashtag {
  margin-right: 1vw;
}
.report-main-div .hashtag div h1 {
  padding: 0;
  padding-bottom: 0.5vh;
  padding-top: 1.5vh;
  margin: 0;
  color: #444342;
  font-weight: 300;
  font-size: 4.5vb;
}

.report-flood-div {
  min-height: 100vh;
  color: #262523;
}
@media (max-width: 1024px) {
  .report-flood-div {
    margin-top: 5vh;
  }
}
.report-flood-div .see-more {
  border-bottom: 1px solid #262523;
  width: 95vw;
  border-top: 1px solid #262523;
  height: 11vh;
  display: flex;
  justify-content: right;
  align-items: center;
}
@media (max-width: 1024px) {
  .report-flood-div .see-more {
    border-top: none;
    justify-content: left;
    flex-direction: row-reverse;
  }
}
.report-flood-div .see-more h1 {
  color: #262523;
  font-weight: 500;
  font-size: 4.2vb;
  letter-spacing: -0.2vb;
  word-spacing: normal;
  padding: 0;
  margin: 0;
  padding-right: 0.5vw;
}
@media (max-width: 1024px) {
  .report-flood-div .see-more h1 {
    font-size: 3vb;
    text-align: right;
    line-height: 1.2;
  }
}
@media (max-width: 1024px) {
  .report-flood-div .see-more h1 {
    width: 50%;
    text-align: left;
  }
}
.report-flood-div .see-more svg {
  margin-left: 1vw;
  margin-right: 3vw;
}
.report-flood-div .flood-title {
  border-bottom: 1px solid #262523;
  width: 95vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.report-flood-div .flood-title .flood-logo-title {
  display: flex;
  justify-content: left;
  align-items: center;
}
@media (max-width: 1024px) {
  .report-flood-div .flood-title .flood-logo-title {
    font-size: 1.5vb;
    line-height: 0.9;
  }
}
.report-flood-div .flood-title .flood-logo-title i {
  color: #262523;
}
.report-flood-div .flood-title .flood-logo-title h1 {
  padding-left: 1vw;
}
.report-flood-div .flood-title .last-svg-exclamation {
  margin-right: 3vw;
}
.report-flood-div .safer-desc-logo {
  display: flex;
  justify-content: right;
  align-items: center;
}
@media (max-width: 1024px) {
  .report-flood-div .safer-desc-logo {
    width: 50%;
  }
}
.report-flood-div .safer-desc-logo svg {
  margin-left: 1vw;
  margin-right: 3vw;
}
.report-flood-div .safer-desc-logo .safer-desc-para p {
  padding: 0;
  margin: 0;
  line-height: 0.8;
  font-weight: 200;
  text-align: right;
}
@media (max-width: 1024px) {
  .report-flood-div .safer-desc-logo .safer-desc-para p {
    font-size: 2vb;
  }
}

/*# sourceMappingURL=disaster_report.css.map */
