{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <body>
        <div class="bg-home">
            <header>
                <nav>
                    <div class="logo">
                        <a href="#"><span>S</span>AFER</a>
                    </div>
                    <div class="profile">
                        <a href="#" class="icon">
                            <i class="fa-solid fa-user"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fa-solid fa-bell"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fa-solid fa-microphone"></i>
                        </a>
                    </div>
                    
                </nav>
            </header>
        </div>
    </body>
</html>