{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'home.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="bg-home">
            <header>
                <nav>
                    <div class="logo">
                        <a href="#"><span>S</span>AFER</a>
                    </div>
                    <div class="profile">
                        <a href="#" class="icon">
                            <i class="fa-solid fa-user"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fa-solid fa-bell"></i>
                        </a>
                        <a href="#" class="icon">
                            <i class="fa-solid fa-microphone"></i>
                        </a>
                    </div>
                </nav>
            </header> 
        </div>
        <!-- Slider main container -->
        <div class="swiper-container">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="banner-flood">
                        <div class="flood">
                            <p>Assam</p>
                            <h3>90% Flood Risk</h3>
                            <p class="description-flood">Stay informed about flood risks in your area. Flooding can occur unexpectedly, especially during heavy rainfall or rapid snowmelt. It's crucial to know the signs of potential flooding and to be prepared.</p>
                            <p><strong>Emergency Services:</strong> </p>
                            <p><strong>Local Flood Helpline:</strong> 12345</p>
                            <button>See More</button>
                        </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="banner-landslide">
                        <div class="flood">
                            <p>Assam</p>
                            <h3>90%</h3>
                            <h6>Chances of Flood In<br>Your Region</h6>
                            <button>See More</button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
        <script src="{% static 'home.js' %}"></script>
    </body>
</html>